absl-py
aiohttp
appdirs==1.4.4
asgiref
astor
astunparse
async-timeout==3.0.1
attrs
audioread==2.1.9
blinker==1.4
brotlipy
cached-property
cachetools
certifi==2021.10.8
cffi
chardet
charset-normalizer==2.0.7
click
colorama
cryptography
dataclasses
decorator==5.1.0
Django
djangorestframework==3.12.4
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta==0.2.0
grpcio
h5py
idna==3.3
importlib-metadata
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing
librosa==0.8.1
llvmlite==0.37.0
Markdown
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
multidict
mysqlclient==2.0.3
numba==0.54.1
numpy
oauthlib
opt-einsum
packaging==21.2
pooch==1.5.2
protobuf==3.14.0
psycopg2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.21
PyJWT
pyOpenSSL
pyparsing==2.4.7
PySocks
pytz
pyu2f
requests==2.26.0
requests-oauthlib
resampy==0.2.2
rsa
scikit-learn==1.0.1
scipy==1.7.2
six
SoundFile==0.10.3.post1
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.6.0
tensorflow-estimator
termcolor==1.1.0
threadpoolctl==3.0.0
typing-extensions
urllib3
Werkzeug
win-inet-pton
wincertstore==0.2
wrapt
yarl
zipp
